.page {
  width: min(100%, 980px);
  margin: 2rem auto;
  padding: 1rem 1.2rem;
  text-align: center;
  color: #151523;
}

.page h1 {
  margin: 0 0 0.6rem;
}

.page p {
  margin: 0;
  font-size: 1.05rem;
}
